:root {
  --navbar-bg-color: #FF0019;
  --logo-bg-color: #fff;
  --blue-color: #2470A0;
  --other-blue :#1B62C6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

nav {
 
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.logo {
  
  text-align: center;
  padding: 5px 10px;
 
}

.logo_announce{
  text-decoration: none;
  color: var(--navbar-bg-color);
  font-weight: 900;
}

#logo_announce {
  color: var(--other-blue);
  font-weight: 900;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
 
}


.search {
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 5px 10px;
 /*  background-color: gray; */
 border: 2px solid #000;
}
.search::placeholder{
  color: var(--navbar-bg-color);
}

.add_announce {
  background-color: var(--other-blue);
  padding: 5px 10px;
  border-radius: 20px;
  
}

.send_annonce{
  text-decoration: none;
  color: var(--logo-bg-color);
}

#plus {
  font-weight: bolder;
  font-size: larger;
}

.icon_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon_item {
  position: relative;
}

.icon_link {
  text-decoration: none;
  display: block;
  font-weight: bolder;
  color: #000;
}

.icon_link:hover{
  color: var(--navbar-bg-color);
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  z-index: 1;
  width: 200px;
  line-height:2,5px;
}

.icon_item:hover .submenu {
  display: block;
}

.submenu_link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--blue-color); 
  font-weight: 500;
  margin-bottom: 5px;
}

.submenu_link:hover, .submenu_link:focus {
  border-bottom: 4px solid var(--blue-color);
  color: var(--navbar-bg-color);
}
.container_register, .container_login, .container_myAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: #f4f4f4;
  padding: 30px;
}
.container_login, .container_myAccount{
  height:  calc(100vh - 60px) !important;
}

.register_c, .login_c, .myAccount{
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.myAccount{
  padding: 30px !important;
}



.register_content, .myAccount_content, .myAccount_crud{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.register_content_left  {
  flex: 1;
 
}

.register_content_right {
  flex: 1;
  padding: 20px;
}

.box_register_content_right {
  margin-bottom: 20px;
}

.register_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 12px;
  margin-left: 5px;
}

/* loader */

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#000 50px, transparent 0),
                    linear-gradient(#000 50px, transparent 0),
                    linear-gradient(#000 50px, transparent 0),
                    linear-gradient(#000 50px, transparent 0),
                    linear-gradient(#000 50px, transparent 0);
  background-size: 8px 100%;
  background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  animation: pillerPushUp 4s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #de3500;
  border-radius: 50%;
  animation: ballStepUp 4s linear infinite;
}

@keyframes pillerPushUp {
  0%, 40%, 100% {
      background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px
  }
  50%, 90% {
      background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px
  }
}

@keyframes ballStepUp {
  0% {
      transform: translate(0, 0)
  }
  5% {
      transform: translate(8px, -14px)
  }
  10% {
      transform: translate(15px, -10px)
  }
  17% {
      transform: translate(23px, -24px)
  }
  20% {
      transform: translate(30px, -20px)
  }
  27% {
      transform: translate(38px, -34px)
  }
  30% {
      transform: translate(45px, -30px)
  }
  37% {
      transform: translate(53px, -44px)
  }
  40% {
      transform: translate(60px, -40px)
  }
  50% {
      transform: translate(60px, 0)
  }
  57% {
      transform: translate(53px, -14px)
  }
  60% {
      transform: translate(45px, -10px)
  }
  67% {
      transform: translate(37px, -24px)
  }
  70% {
      transform: translate(30px, -20px)
  }
  77% {
      transform: translate(22px, -34px)
  }
  80% {
      transform: translate(15px, -30px)
  }
  87% {
      transform: translate(7px, -44px)
  }
  90% {
      transform: translate(0, -40px)
  }
  100% {
      transform: translate(0, 0);
  }
}

